# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# my cmake build target.
/cmake-build-debug-visual-studio/
/cmake-build-vs-r/
/cmake-build-linux/
/cmake-build-debug/
# dependencies.
/RakNet/
/MiniZ/
/Zlib/
*.tlog
*.pc
*.recipe
*.filters
*.pdb
*.sln
*.vcxproj
*.log
*.check_cache
*.stamp
*.depend
*.list
*.json
*.bin
*.ilk
build/cmake_install.cmake
build/CMakeCache.txt
*.cmake
*.rule
*.txt
*.cpp
build/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
build/MiniZ/miniz_export.h
build/Zlib/Debug/zlibd.exp
build/Zlib/zconf.h
build/Zlib/zlib.dir/Debug/zlib1.res
build/CMakeFiles/CheckTypeSize/OFF64_T.c
